$primary-h: 0;
$primary-s: 0;
$primary-b: 20;

// ACCENT COLORS DEFINITIONS
// analoghi
$analogue-1-h: 0;
$analogue-1-s: 100;
$analogue-1-b: 48;
$analogue-2-h: 0;
$analogue-2-s: 100;
$analogue-2-b: 24;

@import '../../src/scss/ep-bootstrap-italia.scss';