$primary-h: 0;
$primary-s: 0;
$primary-b: 20;

// ACCENT COLORS DEFINITIONS
// analoghi
$analogue-1-h: 309;
$analogue-1-s: 53;
$analogue-1-b: 32;
$analogue-2-h: 178;
$analogue-2-s: 95;
$analogue-2-b: 85;

@import '../../src/scss/ep-bootstrap-italia.scss';