// colore servizi OpenContent "Mediterraneo" #348210
$primary-h: 101;
$primary-s: 88;
$primary-b: 51;

// ACCENT COLORS DEFINITIONS
// analoghi
$analogue-1-h: 243;
$analogue-1-s: 85;
$analogue-1-b: 100;
$analogue-2-h: 178;
$analogue-2-s: 95;
$analogue-2-b: 85;

@import '../../src/scss/ep-bootstrap-italia.scss';