// colore servizi OpenContent "Rustico" #560906
$primary-h: 2;
$primary-s: 93;
$primary-b: 34;

// ACCENT COLORS DEFINITIONS
// analoghi
$analogue-1-h: 243;
$analogue-1-s: 85;
$analogue-1-b: 100;
$analogue-2-h: 178;
$analogue-2-s: 95;
$analogue-2-b: 85;

@import '../../src/scss/ep-bootstrap-italia.scss';